/* BEM 방법론 (블록-요소-수정) */

/* 요소에 따라서 __(더블 언더스코어)와 --(더블 하이픈)으로 구분 */

/* 폰트 */
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
.spoka * { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}

@font-face {
    font-family: 'black';
    src: url(./font/Gotham-Black_1.woff);
}

@font-face {
    font-family: 'bold';
    src: url(./font/Gotham-Bold_1.woff);
}

@font-face {
    font-family: 'light';
    src: url(./font/Gotham-Light.woff);
}

@font-face {
    font-family: 'book';
    src: url(./font/Gotham-Book.woff);
}

body {
    margin: 0;
    padding: 0;
}

/* 네브바 */
.nav {
    display: flex;
}

.nav__size {
    width: 40%;
    height: 124px;
    padding: 15px 0;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.nav__size > ul {
    list-style : none;
    display: flex;
}

.nav__size li {
    margin: 0 10px;
    font-family: 'Nanum Gothic';
    font-weight: 600;
    font-size: 13px;
}

.nav__size a {
    text-decoration-line: none;
    color: #888888;
}

.nav__size a:hover {
    text-decoration-line: none;
    color: #c1c1c1;
}

.nav__logo {
    width: 20%;
    height: 124px;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo--img {
    width: 80px;
    height: 105px;
}

.nav__btn button:first-of-type {
    height: 35px;
    background-color: #ff726b;
    color: white;
    border-color: #ff726b;
    border-style: solid;
    border-width: 1px;
    font-family: 'Spoqa Han Sans';
    font-weight: bold;
    font-size: 16px;
    border-radius: 40px;
    padding: 4px 20px;
    padding-bottom: 8px;
    margin: 0 5px;
}

.nav__btn button:first-of-type:hover {
    height: 35px;
    background-color: white;
    color: #ff726b;
    border-color: #ff726b;
    border-style: solid;
    border-width: 1px;
    font-family: 'Spoqa Han Sans';
    font-weight: bold;
    font-size: 16px;
    border-radius: 40px;
    padding: 0 20px;
    margin: 0 5px;
    text-align: center;
}

.nav__btn button:last-of-type {
    height: 35px;
    background-color: #1ecad3;
    color: white;
    border-color: #1ecad3;
    border-style: solid;
    border-width: 1px;
    font-family: 'Spoqa Han Sans';
    font-weight: bold;
    font-size: 16px;
    border-radius: 40px;
    padding: 4px 20px;
    padding-bottom: 8px;
    margin: 0 5px;
}

.nav__btn button:last-of-type:hover {
    height: 35px;
    background-color: #1ba5ac;
    color: white;
    border-color: #1ba5ac;
    border-style: solid;
    border-width: 1px;
    font-family: 'Spoqa Han Sans';
    font-weight: bold;
    font-size: 16px;
    border-radius: 40px;
    padding: 0 20px;
    margin: 0 5px;
    text-align: center;
}

.nav__lists {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.nav__list {
    margin: 0 50px;
    padding: 10px 0;
    text-decoration: none;
    color: #55585b;
    font-family: 'book';
    font-weight: bold;
    font-size: 15.5px;
}

.nav__list:hover {
    margin: 0 50px;
    padding: 10px 0;
    text-decoration: none;
    color: rgb(166, 166, 166);
    font-family: 'book';
    font-weight: bold;
    font-size: 15.5px;
}

.nav__list--active {
    color: #1ecad3;
    border-bottom: 1px solid #1ecad3;
    margin: 0 50px;
    padding: 10px 0;
    text-decoration: none;
    font-family: 'book';
    font-weight: bold;
    font-size: 15.5px;
}

/* 메인 */
.main__img1 {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-bottom: -3.8px;
}

.main__img2 {
    background-image:url('https://cdn.imweb.me/thumbnail/20221203/85c9fe85268fd.png');
}

.main__space {
    width: 100%;
    height: 150px;
}